<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start" defaultHref="/tasks"></ion-back-button>
    <ion-buttons slot="end">
      <ion-fab horizontal="end">
        <ion-button><ion-icon name="more"></ion-icon></ion-button>
        <ion-fab-list side="start">
          <ion-fab-button>
            <ion-icon name="mic"></ion-icon>
          </ion-fab-button>
          <ion-fab-button>
            <ion-icon name="mic"></ion-icon>
          </ion-fab-button>
          <ion-fab-button>
            <ion-icon name="mic"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Task bearbeiten -->
  <ion-item>
    <ion-ion-label position="floating">Titel</ion-ion-label>
    <ion-ion-input></ion-ion-input>
  </ion-item>

  <ion-item>
    <ion-ion-label position="floating">Beschreibung</ion-ion-label>
    <ion-ion-input></ion-ion-input>
  </ion-item>

  <ion-item>
    <ion-ion-label position="floating">Zeitaufwand</ion-ion-label>
    <ion-ion-input></ion-ion-input>
  </ion-item>

  <!-- Button to change ion-input type -->
</ion-content>
