<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Tasks</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="!selectedServer.sprintId">
        <ion-list-header>Select Sprint</ion-list-header>
        <ion-item>
            <ion-select (ionChange)="onSelectChange($event)" placeholder="{{'Select Sprint'}}">
                <ion-select-option *ngFor="let sprint of sprints" [value]="sprint.id">
                    {{sprint.name}}</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>

    <!-- Searchbar maybe ionInput is broke -->
    <ion-searchbar text-center placeholder="Task suchen" (ionInput)="searchTasks($event)"></ion-searchbar>

    <!-- Get list of Tasks as Cards -->
    <ion-card *ngFor="let task of tasksNewestFirst" (click)="editTask(task)">
        <ion-card-content>
            <h5>{{task.summary}}</h5>
            <p>{{task.description}}</p>
            <p>{{task.estimate}}</p>
        </ion-card-content>
    </ion-card>

    <!-- Get list of Tasks as List -->
    <!--<ion-list>
        <ion-item *ngFor="let task of plannedTasks" [routerLink]="['/task', task.id]" routerDirection="forward">
            <ion-label text-center>
                <h3>{{task.summary}}</h3>
                <p>{{task.description}}</p>
                <p>{{task.estimate}}</p>
            </ion-label>
            <ion-icon name="close-circle" slot="end" (click)="remove()"></ion-icon>
        </ion-item>
    </ion-list>-->

    <!-- List of Sliding Items for Delete Interaction -->
    <!--    <ion-list>
            <ion-item-sliding *ngFor="let task of plannedTasks" [routerLink]="['/task', task.id]" routerDirection="forward">
                <ion-item>
                    <ion-label>{{task.summary}}</ion-label>
                    <ion-label>{{task.description}}</ion-label>
                    <ion-label>{{task.estimate}}</ion-label>
                </ion-item>
                <ion-item-options side="end">
                    <ion-item-option (click)="delete(item)">delete</ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>-->

    <!--Modal for the tasks page to open a task-->
    <!--https://ionicframework.com/docs/v3/components/#modals-->

</ion-content>

<!-- Button to create a new Task -->
<ion-footer>
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button (click)="addTask()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-footer>

