<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Scanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="scannedCode">
    <p>scannedCode: {{ scannedCode }}</p>
  </ion-card>

  <ion-card *ngIf="scannedCodeArray">
    <p>scannedCodeArray: {{ scannedCodeArray }}</p>
    <div *ngIf="scannedCodeArray">
      <p>From SettingsService</p>
      <p>{{projectName}}, {{pyWallServer}}, {{syncServer}}, {{sprintId}}</p>
    </div>
  </ion-card>


  <ion-card>
      <p>From SettingsService</p>
      <p>{{settingsService.getProjectName()}}, {{settingsService.getPyWall()}}, {{settingsService.getSyncServer()}}, {{settingsService.getSprintId()}}</p>
  </ion-card>

  <ion-item *ngFor="let storageValues of storage;">
    <p>{{storageValues}}</p>
  </ion-item>

  <ion-card>
    <p>From StorageService</p>
    <p>{{settingsService.getProjectName()}}, {{settingsService.getPyWall()}}, {{settingsService.getSyncServer()}}, {{settingsService.getSprintId()}}</p>
  </ion-card>



</ion-content>
