<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="useScannerMock(scannedCodeArrayMock)"><ion-icon name="refresh"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Scanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--<ion-card *ngIf="scannedCode">
    <p>scannedCode: {{ scannedCode }}</p>
  </ion-card>

  <ion-card *ngIf="scannedCodeArrayMock">
    <p>scannedCode: {{ scannedCodeArrayMock.values() }}</p>
  </ion-card>
-->
  <ion-item>
    <p>{{newServer}}: {{newServer.projectName}} , {{newServer.pyWallServer}}, {{newServer.syncServer}}, {{newServer.sprintId}}</p>
  </ion-item>

<!--  <ion-item *ngFor="let server of servers;">
    <p>{{server.projectName}}</p>
  </ion-item>-->

</ion-content>
