<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list #mylist>

    <ion-list-header>
      <ion-label>My Servers</ion-label>
    </ion-list-header>

    <ion-item-sliding *ngFor="let server of servers">

      <ion-item>
        <ion-label text-wrap>
          <h3>{{ server.projectName }}</h3>
          <ion-text color="secondary">
            <p>{{ server.pyWallServer }}</p>
            <p>{{ server.syncServer }}</p>
          </ion-text>
          <p>{{ server.modified | date:'short'}}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="secondary" (click)="updateServer(server)">Update</ion-item-option>
        <ion-item-option color="danger" (click)="deleteServer(server)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <!-- Button to create a new Task -->
  <ion-fab vertical="bottom" horizontal="center">
    <ion-fab-button [routerLink]="['/create-setting']" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
