<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="loadServers()"><ion-icon name="refresh"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>SELECT SERVER</ion-list-header>
    <ion-item>
      <ion-select (ionChange)="onSelectChange($event)" placeholder="{{selectedServer.projectName || 'Select Server'}}">
        <ion-select-option *ngFor="let server of serversNewestFirst" [value]="server">
          {{server.projectName}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list #mylist>

    <ion-list-header>
      <ion-label>MY SERVERS</ion-label>
    </ion-list-header>

    <ion-item-sliding *ngFor="let server of servers">

      <ion-item>
        <ion-label text-wrap>
          <h3>{{ server.projectName }}</h3>
          <ion-text color="secondary">
            <p>{{ server.pyWallServer }}</p>
            <p>{{ server.syncServer }}</p>
          </ion-text>
          <p>{{ server.modified | date:'short'}}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="secondary" (click)="editServer(server)">Update</ion-item-option>
        <ion-item-option color="danger" (click)="deleteServer(server)">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>

<!-- Button to create a new Task -->
<ion-footer>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addServer()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>
